    body{
        background: #fA8072 ;
    }
    .container{
        width:250px;
        height:400px;
        background:white;
        margin:50px auto;
        padding:10px;
        border-radius:10px;
        
    }
    h1{
        display:flex;
        justify-content:flex-start;
        padding:0 0 0 10px;
        margin:5px auto;
        height:40px;
        font-family:'Noto Sans KR', sans-serif;
    }
    hr{
        width:90%;
        color:red;
        height:5px;
        background: #fA8072;
        border:none;
    }
    p{
        text-align:left;
        padding:10px;
        font-size:14px;
        font-family:'Noto Sans KR', sans-serif;
        word-break:break-all;
        color: #282828;
    }
    
    .button{
        display:flex;
        justify-content:center;
        margin:-10px;
    }
    button{
        display:flex;
        justify-content:center;
        align-items:center;
        width:120px;
        height:40px;
        border-radius:0px;
        background: #fA8072;
        color:white;
        border-style:solid;
    }